.gsap{
    &__header{
        opacity: 0;
    }
    &__direction{
        &--title{
            transform: translate(200px, 0);
            opacity: 0;
        }
        &--tag{
            opacity: 0;
        }
    }
    &__benefits{
        &--title{
            transform: translate(200px, 0);
            opacity: 0;
        }
        &--box{
            transform: translate(30px, 0);
            opacity: 0;
        }
    }
    &__form{
        opacity: 0;        
    }
    &__work{
        &--title{
            transform: translate(200px, 0);
            opacity: 0;
        }
        &--slider{
            opacity: 0;
        }
    }
    &__map{
        &--title{
            transform: translate(200px, 0);
            opacity: 0;
        }
    }
    &__foot{
        opacity: 0;
    }
}

.gsap__opacity{
    transform: translate(200px, 0);
    opacity: 0;
}