.gsap{
    &__header{
        opacity: 0;
    }
    &__title{
        opacity: 0;
    }
    &__intro{
        opacity: 0;
        transform: translate(300px, 0);
    }
    &__intro-circle{
        opacity: 0;
        transform: scale(-0.5);
    }
    
    &__video{
        opacity: 0;
        transform: translate(-300px, 0);
    }
    &__video-img{
        opacity: 0;
        transform: scale(0);
    }
    &__arrow{
        opacity: 0;
        transform: translate(-300px, 0);
    }
    &__service{
        opacity: 0;
        transform: scale(0);
    }
    &__accordeon{
        opacity: 0;
    }
    &__mark{
        transform: translate(0, 0);
    }
    &__slider{
        opacity: 0;
        transform: translate(-300px, 0);
    }
    &__slider-right{
        opacity: 0;
        transform: translate(300px, 0);
    }
    &__blog{
        opacity: 0;
        transform: scale(0);
    }
    &__blogers{
        opacity: 0;
        transform: scale(0);
    }
    &__mobile{
        transform: translate(0, 300px);
    }
    &__form{
        opacity: 0;
        transform: scale(0);
    }
    &__footer{
        opacity: 0;
        transform: scale(0);
    }
}

.gsap__opacity{
    transform: translate(200px, 0);
    opacity: 0;
}